<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="/style.css"> <!-- Подключаем CSS файл -->
</head>
<body>
    <div class="container">
        <div class="home-block">
            <h1>Добро пожаловать на главную страницу!</h1>
            <p>Это минимальное Spring Boot приложение.</p>
            <a href="/author">Информация об авторе</a> <!-- Ссылка на страницу с информацией об авторе -->
        </div>
    </div>
</body>
</html>
